@model ProcessRegistration.Models.ProcessModel


<div class="modal-body">
    <table class="table-details">
        <tr>
            <th>ID:</th>
            <td>12345</td>
        </tr>
        <tr>
            <th>Nome do Processo:</th>
            <td>Processo de Exemplo</td>
        </tr>
        <tr>
            <th>NPU:</th>
            <td>1111111-11.1111.1.11.1111</td>
        </tr>
        <tr>
            <th>Data de Cadastro:</th>
            <td>04/12/2024</td>
        </tr>
        <tr>
            <th>Data de Visualização:</th>
            <td>05/12/2024</td>
        </tr>
        <tr>
            <th>UF:</th>
            <td>SP</td>
        </tr>
        <tr>
            <th>Município:</th>
            <td>São Paulo</td>
        </tr>
    </table>
</div>

