@{
    ViewData["Title"] = "Listagem de Processos";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary">Listagem de Processos</h1>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actionModal"
           data-title="Cadastrar Novo Processo" data-action="/Home/Create">
            <i class="bi bi-plus-circle"></i> Cadastrar Novo Processo
        </a>
    </div>

    <table class="table table-hover table-striped table-main shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>NPU</th>
                <th>Data de Cadastro</th>
                <th>UF</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1111111-11.1111.1.11.1111</td>
                <td>@DateTime.Now.ToShortDateString()</td>
                <td>SP</td>
                <td class="text-center">
                    <a href="#" class="btn text-primary" data-bs-toggle="modal"
                       data-bs-target="#actionModal" data-title="Visualizar Processo" data-action="/Home/Details">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    <a href="#" class="btn text-primary" data-bs-toggle="modal"
                       data-bs-target="#actionModal" data-title="Editar Processo" data-action="/Home/Edit">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a href="#" class="btn text-primary" data-bs-toggle="modal"
                       data-bs-target="#actionModal" data-title="Excluir Processo" data-action="/Home/Delete">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="actionModalLabel">Título do Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContent">
                    <p class="text-center">Carregando...</p>
                </div>
            </div>
        </div>
    </div>
</div>
